# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
.venv/
env/

# Django
db.sqlite3
*.log
local_settings.py
media/
staticfiles/

# Environment & secrets
.env
.env.local
firebase-credentials.json
